doctype html
html(lang='eng')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
  body
    block content
    script(src='/js/script.js')
