doctype html
html(lang='eng')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
  body
    header
        nav
            ul
                li
                    a(href="#") link 1
                li 
                    a(href="#") link 2
                li 
                    a(href="#") link 3
            button(type='Submit') Login
    block content
    script(src='/js/script.js')
